
.container-form {
    background-color: #ffffff;
    border: 2px solid #ff0606;
    border-radius: 8px;
    padding: 20px;
    margin: 30px auto; 
    width: 50%; 
    box-shadow: 0 4px 8px rgba(24, 2, 2, 0.1); 
  }
  
 
  .container-form h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
 
  .container-form .form-group {
    margin-bottom: 15px;
  }
  
  .container-form .form-group label {
    font-size: 18px;
    font-weight: 500;
  }
  
  .container-form .form-group input {
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #cfd8dc; 
    padding: 8px;
  }
  
  
  .container-form .btn {
    display: block;
    width: 35%;
    height: 50px;
    margin: 20px auto;
    font-size: 18px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
  }
  
  .container-form .btn:hover {
    background-color: #2e7d32; 
  }

.form-group {
    margin-bottom: 15px;
  }
  
  .container-form .form-group label {
    font-size: 18px;
    font-weight: 500;
  }
  
  .container-form .form-group input {
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #cfd8dc; 
    padding: 8px;
  }
 